<a href="https://colab.research.google.com/github/mahendra204/python_scripts/blob/main/Code2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(0,5):
  for j in range(0,5):
    print('*',end=" ")
  print("")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [2]:
for i in range(5):
    for j in range(i+1):
      print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [3]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      print("*",end=" ")
    print("")

In [4]:
f(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [5]:
for i in range(0,5):
  for j in range(0,5):
    print(i,end=" ")
  print("")

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [6]:
for i in range(0,5):
  for j in range(0,5):
    print(j,end=" ")
  print("")

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [7]:
for i in range(5):
    for j in range(i+1):
      print(i,end=" ")
    print("")

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [78]:
for i in range(5):
    for j in range(i+1):
      print(j,end=" ")
    print("")

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [9]:
def f(n):
  for i in range(n):
    for j in range(n-i+1):
      print("*",end=" ")
    print("")

In [10]:
f(10)

* * * * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *

In [11]:
def f(n):
  for i in range(n+1):
    for j in range(n-i+1):
      print(i,end=" ")
    print("")

In [12]:
f(10)

0 0 0 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 1
2 2 2 2 2 2 2 2 2
3 3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6
7 7 7 7
8 8 8
9 9
10

In [13]:
def f(n):
  for i in range(n+1):
    for j in range(n-i+1):
      print(j,end=" ")
    print("")

In [14]:
f(10)

0 1 2 3 4 5 6 7 8 9 10
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8
0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [15]:
def f(n):
  for i in range(1,n+1):
    for j in range(1,n-i+1):
      print(j,end=" ")
    print("")

In [16]:
f(10)

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [64]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end="")
    for j in range(2*i+1):
      print("*",end="")
    print()

In [65]:
f(5)

    *
   ***
  *****
 *******
*********

In [102]:
def f(n):
  for i in range(n-1,-1,-1):
    for j in range(n-i-1):
      print(" ",end="")
    for j in range(2*i+1):
      print("*",end="")
    print()
f(5)

*********
 *******
  *****
   ***
    *

In [68]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end="")
    for j in range(2*i+1):
      print(i,end="")
    print()

In [69]:
f(5)

    0
   111
  22222
 3333333
444444444

In [74]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end="")
    for j in range(2*i+1):
      print(j,end="")
    print()
f(5)

    0
   012
  01234
 0123456
012345678

In [75]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print("  ",end="")
    for j in range(2*i+1):
      print(j,end="")
    print()
f(5)

        0
      012
    01234
  0123456
012345678

In [66]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end="")
    for j in range(2*i+1):
      if j%2==0:
        print("*",end="")
      else:
        print(" ",end="")
    for j in range(n-i-1):
      print(" ",end="")
    print()

In [67]:
f(5)

    *
   * *
  * * *
 * * * *
* * * * *

In [80]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end="")
    for j in range(2*i+1):
      if j%2==0:
        print(i,end="")
      else:
        print(" ",end="")
    for j in range(n-i-1):
      print(" ",end="")
    print()

In [81]:
f(5)

    0
   1 1
  2 2 2
 3 3 3 3
4 4 4 4 4

In [85]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end="")
    for j in range(2*i+1):
      if j%2==0:
        print(j,end="")
      else:
        print(" ",end="")
    for j in range(n-i-1):
      print(" ",end="")
    print()
f(5)

    0
   0 2
  0 2 4
 0 2 4 6
0 2 4 6 8

In [92]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end="")
    for j in range(2*i+1):
      if j%2!=0:
        print(j,end="")
      else:
        print('*',end="")
    for j in range(n-i-1):
      print(" ",end="")
    print()
f(6)

     *
    *1*
   *1*3*
  *1*3*5*
 *1*3*5*7*
*1*3*5*7*9*

In [94]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end="")
    for j in range(2*i+1):
      if j%2==0:
        print(j,end="")
      else:
        print('*',end="")
    for j in range(n-i-1):
      print(" ",end="")
    print()
f(6)

     0
    0*2
   0*2*4
  0*2*4*6
 0*2*4*6*8
0*2*4*6*8*10

In [98]:
def f(n):
    for i in range(n-1, -1, -1):
        for j in range(n - i - 1):
            print(" ", end="")
        for j in range(2 * i + 1):
            if j % 2 == 0:
                print("*", end="")
            else:
                print(" ", end="")
        for j in range(n - i - 1):
            print(" ", end="")
        print()
f(9)

* * * * * * * * *
 * * * * * * * *
  * * * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [103]:
def f(n):
  for i in range(n-1,-1,-1):
    for j in range(n-i-1):
      print(" ",end="")
    for j in range(2*i+1):
      print(i,end="")
    print()
f(5)

444444444
 3333333
  22222
   111
    0

In [104]:
def f(n):
  for i in range(n-1,-1,-1):
    for j in range(n-i-1):
      print(" ",end="")
    for j in range(2*i+1):
      print(j,end="")
    print()
f(5)

012345678
 0123456
  01234
   012
    0

In [112]:
def f(n):
    for i in range(n-1, -1, -1):
        for j in range(n - i - 1):
            print(" ", end="")
        for j in range(2 * i + 1):
            if j % 2 == 0:
                print(i, end="")
            else:
                print(" ", end="")
        for j in range(n - i - 1):
            print(" ", end="")
        print()
f(5)

4 4 4 4 4
 3 3 3 3
  2 2 2
   1 1
    0

In [113]:
def f(n):
    for i in range(n-1, -1, -1):
        for j in range(n - i - 1):
            print(" ", end="")
        for j in range(2 * i + 1):
            if j % 2 == 0:
                print(j, end="")
            else:
                print(" ", end="")
        for j in range(n - i - 1):
            print(" ", end="")
        print()
f(5)

0 2 4 6 8
 0 2 4 6
  0 2 4
   0 2
    0

In [114]:
def f(n):
    for i in range(n-1, -1, -1):
        for j in range(n - i - 1):
            print(" ", end="")
        for j in range(2 * i + 1):
            if j % 2 == 0:
                print(" ", end="")
            else:
                print(j, end="")
        for j in range(n - i - 1):
            print(" ", end="")
        print()
f(5)

 1 3 5 7
  1 3 5
   1 3
    1

In [115]:
def f(n):
    for i in range(n-1, -1, -1):
        for j in range(n - i - 1):
            print(" ", end="")
        for j in range(2 * i + 1):
            if j % 2 == 0:
                print("*", end="")
            else:
                print(j, end="")
        for j in range(n - i - 1):
            print(" ", end="")
        print()
f(5)

*1*3*5*7*
 *1*3*5*
  *1*3*
   *1*
    *

In [117]:
def f(n):
    for i in range(n-1, -1, -1):
        for j in range(n - i - 1):
            print(" ", end="")
        for j in range(2 * i + 1):
            if j % 2 == 0:
                print(j, end="")
            else:
                print("*", end="")
        for j in range(n - i - 1):
            print(" ", end="")
        print()
f(5)

0*2*4*6*8
 0*2*4*6
  0*2*4
   0*2
    0

In [127]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end=" ")
    for j in range(2*i+1):
      print("*",end=" ")
    print()
  for i in range(n-1,-1,-1):
    for j in range(n-i-1):
      print(" ",end=" ")
    for j in range(2*i+1):
      print("*",end=" ")
    print()
f(5)

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [131]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end=" ")
    for j in range(2*i+1):
      print("*",end=" ")
    print()
  for i in range(n-2,-1,-1):
    for j in range(n-i-1):
      print(" ",end=" ")
    for j in range(2*i+1):
      print("*",end=" ")
    print()
f(5)

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [138]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end=" ")
    for j in range(2*i+1):
      print("*",end=" ")
    print()
  for i in range(n-2,-1,-1):
    for j in range(n-i-1):
      print(" ",end=" ")
    for j in range(2*i+1):
      print("*",end="")
    print()
f(5)

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  *******
    *****
      ***
        *

In [134]:
def f(n):
  for i in range(n):
    for j in range(n-i-1):
      print(" ",end=" ")
    for j in range(2*i+1):
      print("*",end="")
    print()
  for i in range(n-2,-1,-1):
    for j in range(n-i-1):
      print(" ",end=" ")
    for j in range(2*i+1):
      print("*",end=" ")
    print()
f(5)

        *
      ***
    *****
  *******
*********
  * * * * * * *
    * * * * *
      * * *
        *

In [152]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      print("*",end="")
    print()
  for i in range(n-1,-1,-1):
    for j in range(i+1):
      print("*",end="")
    print()
f(5)

*
**
***
****
*****
*****
****
***
**
*

In [153]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      print(i,end="")
    print()
  for i in range(n-1,-1,-1):
    for j in range(i+1):
      print(i,end="")
    print()
f(5)

0
11
222
3333
44444
44444
3333
222
11
0

In [154]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      print(i,end="")
    print()
  for i in range(n-1,-1,-1):
    for j in range(i+1):
      print(j,end="")
    print()
f(5)

0
11
222
3333
44444
01234
0123
012
01
0

In [155]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      print(j,end="")
    print()
  for i in range(n-1,-1,-1):
    for j in range(i+1):
      print(j,end="")
    print()
f(5)

0
01
012
0123
01234
01234
0123
012
01
0

In [156]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      print("*",end="")
    print()
  for i in range(n-2,-1,-1):
    for j in range(i+1):
      print("*",end="")
    print()
f(5)

*
**
***
****
*****
****
***
**
*

In [157]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      print(i,end="")
    print()
  for i in range(n-2,-1,-1):
    for j in range(i+1):
      print(i,end="")
    print()
f(5)

0
11
222
3333
44444
3333
222
11
0

In [158]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      print(j,end="")
    print()
  for i in range(n-2,-1,-1):
    for j in range(i+1):
      print(j,end="")
    print()
f(5)

0
01
012
0123
01234
0123
012
01
0

In [161]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      print("*",end=" ")
    print()
  for i in range(n-2,-1,-1):
    for j in range(i+1):
      print("*",end=" ")
    print()
f(5)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [164]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      if j%2==0:
        print("1",end="")
      else:
        print("0",end="")
    print()

In [165]:
f(5)

1
10
101
1010
10101

In [170]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      if i%2==0:
        print("1",end="")
      else:
        print("0",end="")
    print()
f(5)

1
00
111
0000
11111

In [171]:
def f(n):
    for i in range(1, n+1):
        for j in range(1, i+1):
            if (i + j) % 2 == 0:
                print("1", end="")
            else:
                print("0", end="")
        print()
f(5)

1
01
101
0101
10101

In [172]:
def f(n):
    for i in range(1, n+1):
        for j in range(1, n+1):
            if (i + j) % 2 == 0:
                print("1", end="")
            else:
                print("0", end="")
        print()
f(5)

10101
01010
10101
01010
10101

In [180]:
def f(n):
    for i in range(n,-1,-1):
        for j in range(1, i+1):
            if (i + j) % 2 == 0:
                print("1", end=" ")
            else:
                print("0", end=" ")
        print()
f(5)

1 0 1 0 1
0 1 0 1
1 0 1
0 1
1

In [179]:
def f(n):
    for i in range(n,-1,-1):
        for j in range(1, i+1):
            if (i + j) % 2 == 0:
                print("0", end=" ")
            else:
                print("1", end=" ")
        print()
f(5)

0 1 0 1 0
1 0 1 0
0 1 0
1 0
0

In [228]:
def f(n):
    x= 1
    for i in range(1, n+1):
        for j in range(1, i+1):
            print(x, end="  ")
            x+= 1
        print()
f(5)

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15

In [238]:
def f(n):
    for i in range(n):
        for j in range(i+1):
            print(chr(j + 97), end=" ")
        print()
f(7)

a
a b
a b c
a b c d
a b c d e
a b c d e f
a b c d e f g

In [242]:
def f(n):
  for i in range(n-1,-1,-1):
    for j in range(i+1):
      print(chr(j+97),end=" ")
    print()
f(7)

a b c d e f g
a b c d e f
a b c d e
a b c d
a b c
a b
a

In [239]:
def f(n):
    for i in range(n):
        for j in range(i+1):
            print(chr(j+65), end=" ")
        print()
f(7)

A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G

In [243]:
def f(n):
  for i in range(n-1,-1,-1):
    for j in range(i+1):
      print(chr(j+65),end=" ")
    print()
f(7)

A B C D E F G
A B C D E F
A B C D E
A B C D
A B C
A B
A

In [249]:
def f(n):
  x=97
  for i in range(n):
    for j in range(i+1):
      print(chr(x+i),end=" ")
    print()
f(7)

a
b b
c c c
d d d d
e e e e e
f f f f f f
g g g g g g g

In [250]:
def f(n):
  x=65
  for i in range(n):
    for j in range(i+1):
      print(chr(x+i),end=" ")
    print()
f(7)

A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G

In [251]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==j or i<=j:
        print("*",end="")
    print()

In [252]:
f(8)

********
*******
******
*****
****
***
**
*

In [254]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==j or i>=j:
        print("*",end="")
    print()
f(8)

*
**
***
****
*****
******
*******
********

In [256]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==j or i<=j:
        print(i,end="")
    print()
f(7)

0000000
111111
22222
3333
444
55
6

In [258]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==j or i<=j:
        print(j,end="")
    print()
f(7)

0123456
123456
23456
3456
456
56
6

In [270]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      if i==j:
        print("*",end=" ")
      else:
        print(" ",end="")
    print()
f(7)

*
 *
  *
   *
    *
     *
      *

In [271]:
def f(n):
  for i in range(n):
    for j in range(i+1):
      if i==j:
        print(i,end=" ")
      else:
        print(" ",end="")
    print()
f(7)

0
 1
  2
   3
    4
     5
      6

In [282]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i<=j:
        print("*",end=" ")
      else:
        print(" ",end="")
    print()
f(8)

* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [283]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i<=j:
        print(i,end=" ")
      else:
        print(" ",end="")
    print()
f(8)

0 0 0 0 0 0 0 0
 1 1 1 1 1 1 1
  2 2 2 2 2 2
   3 3 3 3 3
    4 4 4 4
     5 5 5
      6 6
       7

In [284]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i<=j:
        print(j,end=" ")
      else:
        print(" ",end="")
    print()
f(8)

0 1 2 3 4 5 6 7
 1 2 3 4 5 6 7
  2 3 4 5 6 7
   3 4 5 6 7
    4 5 6 7
     5 6 7
      6 7
       7

In [287]:
def f(n):
  for i in range(n):
    for j in range(n):
      if j==n-i:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

              *
            *
          *
        *
      *
    *
  *

In [288]:
def f(n):
  for i in range(n):
    for j in range(n):
      if j==n-i:
        print(i,end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

              1
            2
          3
        4
      5
    6
  7

In [290]:
def f(n):
  for i in range(n):
    for j in range(n):
      if j==n-i:
        print(j,end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

              7
            6
          5
        4
      3
    2
  1

In [295]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==0 or j==0 or j==n-1 or i==n-1:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

* * * * * * * *
*             *
*             *
*             *
*             *
*             *
*             *
* * * * * * * *

In [297]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==0 or j==0 or j==n-1 or i==n-1:
        print(i,end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

0 0 0 0 0 0 0 0
1             1
2             2
3             3
4             4
5             5
6             6
7 7 7 7 7 7 7 7

In [298]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==0 or j==0 or j==n-1 or i==n-1:
        print(j,end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

0 1 2 3 4 5 6 7
0             7
0             7
0             7
0             7
0             7
0             7
0 1 2 3 4 5 6 7

In [296]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==0 or j==0 or j==n-1 or i==n-1 or i==j:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

* * * * * * * *
* *           *
*   *         *
*     *       *
*       *     *
*         *   *
*           * *
* * * * * * * *

In [299]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==0 or j==0 or j==n-1 or i==n-1 or i==j:
        print(i,end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

0 0 0 0 0 0 0 0
1 1           1
2   2         2
3     3       3
4       4     4
5         5   5
6           6 6
7 7 7 7 7 7 7 7

In [300]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==0 or j==0 or j==n-1 or i==n-1 or i==j:
        print(j,end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

0 1 2 3 4 5 6 7
0 1           7
0   2         7
0     3       7
0       4     7
0         5   7
0           6 7
0 1 2 3 4 5 6 7

In [302]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==0 or j==0 or j==n-1 or i==n-1 or i==j or j==n-i-1:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

* * * * * * * *
* *         * *
*   *     *   *
*     * *     *
*     * *     *
*   *     *   *
* *         * *
* * * * * * * *

In [303]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==0 or j==0 or j==n-1 or i==n-1 or i==j or j==n-i-1:
        print(i,end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

0 0 0 0 0 0 0 0
1 1         1 1
2   2     2   2
3     3 3     3
4     4 4     4
5   5     5   5
6 6         6 6
7 7 7 7 7 7 7 7

In [304]:
def f(n):
  for i in range(n):
    for j in range(n):
      if i==0 or j==0 or j==n-1 or i==n-1 or i==j or j==n-i-1:
        print(j,end=" ")
      else:
        print(" ",end=" ")
    print()
f(8)

0 1 2 3 4 5 6 7
0 1         6 7
0   2     5   7
0     3 4     7
0     3 4     7
0   2     5   7
0 1         6 7
0 1 2 3 4 5 6 7